@{
    ViewBag.Title = "Home";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

     <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row hero-unit">
          <div class="span5">
              <h1>Prometheus Brown</h1>
                <p>Rapper. Photographer. Organizer. Father.</p>
        <p><a class="btn btn-primary btn-large">Listen now &raquo;</a></p>
          </div>

          <div class="span3 offset2">
              <img src="~/Content/images/PrometheusBrown.jpg" />
          </div>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Blue Scholars</h2>
          <a href="http://www.bluescholars.com"><img src="~/Content/images/blue-scholars.jpg" /></a>
        </div>
        <div class="span4 offset1">
          <h2>The Bar</h2>
          <a href="http://www.thebarmusic.tumblr.com"><img src="~/Content/images/TheBar.jpg" /></a>
       </div>
      </div>
